<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDOList</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>To DO List</h2>
    <form th:action="@{/save-todo}" th:object="${todo}" method="post">

        <div class="form-group">
            <label for="todo">TODO</label>
            <input type="text" id="todo" th:field="*{item}" class="form-control">
        </div>
        <input type="submit" class="btn btn-info btn-lg btn-block" value="Save To Do List">
    </form>
    <ul class="list-group" th:each="item:${todoList}">
        <li class="list-group-item" th:text="${item.getItem()}"></li>
    </ul>
</div>
</body>
</html>